1 AVERAGE OF 3 NUMBERS

In [ ]:
num1 =int(input("enter the first number: "))
num2 =int(input("enter the second number: "))
num3 =int(input("enter the third number: "))
sum =num1+num2+num3
avg =sum/3
print ("the average of the three numbers is",avg)

enter the first number: 3
enter the second number: 6
enter the third number: 9
the average of the three numbers is 6.0

2 SUM & AVERAGE OF 3 NUMBERS

In [ ]:
num1 =int(input("enter the first number: "))
num2 =int(input("enter the second number: "))
num3 =int(input("enter the third number: "))
sum =num1+num2+num3
avg =sum/3
print ("the sum of the three numbers is",sum)
print ("the average of the three numbers is",avg)

enter the first number: 2
enter the second number: 4
enter the third number: 6
the sum of the three numbers is 12
the average of the three numbers is 4.0

3 SECONDS TO HOURS, MINUTES,SECONDS

In [ ]:
sec =int(input("enter the time in seconds: "))
hour =sec//3600
min =(sec%3600)//60
secon =(sec%3600)%60
print(hour,"hours",min,"minutes","and",secon,"seconds")

enter the time in seconds: 7265
2 hours 1 minutes and 5 seconds

4 **AREA AND PERIMETER OF TRIANGLE**

In [ ]:
sid1 =int(input("enter the value of side 1: "))
sid2 =int(input("enter the value of side 2: "))
sid3 =int(input("enter the value of side 3: "))
perimeter=(sid1+sid2+sid3)
s=(perimeter/2)
area=(s*(s-sid1)*(s-sid2)*(s-sid3))**0.5
print("perimeter of the triangle is",perimeter)
print("area of the triangle is",area)

enter the value of side 1: 3
enter the value of side 2: 4
enter the value of side 3: 5
perimeter of the triangle is 12
area of the triangle is 6.0

5 *AREA OF CIRCLE*

In [ ]:
rad=int(input("enter the radius of the circle: "))
area=(22/7)*(rad**2)
print ("area of the circle is",area)

enter the radius of the circle: 7
area of the circle is 154.0

6 SWAPPING OF NUMBERS

In [ ]:
X=int(input("enter the value of X: "))
Y=int(input("enter the value of Y: "))
X=X+Y
Y=X-Y
X=X-Y
print("the value of X is",X)
print("the value of Y is",Y)

enter the value of X: 3
enter the value of Y: 6
the value of X is 6
the value of Y is 3

7 SUM,DIFFERENCE,PRODUCT,RATIO,REMINDER AND QUOTIENT OF 2 NUMBERS

In [ ]:
num1 =int(input("enter the value of number 1: "))
num2 =int(input("enter the value of number 2: "))
sum =num1+num2
diff =num1-num2
pro =num1*num2
rat =num1/num2
rem =num1%num2
quo =num1//num2
print ("sum of the 2 numbers is",sum)
print ("difference of the 2 numbers is",diff)
print ("product of the 2 numbers is",pro)
print ("ratio of the 2 numbers is",rat)
print ("reminder of the 2 numbers is",rem)
print ("quotient of the 2 numbers is",quo)

enter the value of number 1: 6
enter the value of number 2: 2
sum of the 2 numbers is 8
difference of the 2 numbers is 4
product of the 2 numbers is 12
ratio of the 2 numbers is 3.0
reminder of the 2 numbers is 0
quotient of the 2 numbers is 3

8 DAYS INTO YEARS,MONTHS AND DAYS

In [ ]:
day =int(input("enter the number of days: "))
year =day//365
mon =(day%365)//30
days =(day%365)%30
print (year,"years",mon,"months","and",days,"days")

enter the number of days: 900
2 years 5 months and 20 days